.navbar {
    background: #6b2a59;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 170;
    height: 100px;
    animation: slideDown 1s ease-in-out;
    font-weight: 700;
}


.logo {
    color: #3B1C32;
    font-size: 2.2rem;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    text-decoration: none;
}



@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


nav ul {
    display: flex;
    gap: 1rem
}

nav ul li {
    background-color: transparent;
}

nav ul li .nav-link:hover {
    background-color: #1A1A1D;
    color: white;
    
}

nav ul li .nav-link {
    border-radius: 20px;
    color: white;
    background-color:  #6b2a59;

    width: 100%;
}
